.card{
  background-color: grey;
  padding: .5em;
  border-radius: .3em;
}


.title{
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

li{
  background-color: aliceblue;
  margin: .3em;
  border-radius: .2em;
  padding: .3em;
  font-weight: bolder;
  font-size: 20px;
}
